.header {
  color: white;
  background-color: #20b2aa;
  padding: 20px;
  margin-bottom: 10px;
  font-family: 'Lakki Reddy', cursive;
}

body {
  text-align: center;
  background-image:url(/resources/images/produce.png);
  font-family: 'Arya', sans-serif;
}

.color-display {
  color: black;
}

.btn {
  margin-left: 10px;
}

.meal-filter {
  margin-bottom: 50px;
}

.meal-display {
  color: white;
}

.meal-add {
  margin-top: 50px;
}
